#calculator{
    border: 1px solid rgb(188, 182, 182);
    border-radius: 5px;
    width: 25%;
   
    background-color: rgb(92, 87, 87);
    margin-left: 41%;
    margin-right: 50%;
    margin-top: 400px;
}

#display{
    margin: 40px;
    width: 87%;
    height: 150px;
    font-size: 100px;
    background-color: blue;
    border: 2px solid black;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(56, 53, 53);
}

.button{
    height: 180px; 
    width: 180px;
    margin: 3px;
    background-color: aqua;
    border: 1px solid black;
    font-size: 100px;
}
